Source: nmos-reverse-proxy
Maintainer: Alex Rawcliffe <alex.rawcliffe@rd.bbc.co.uk>
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), python-all (>= 2.6.6-3), dh-python, dh-systemd (>= 1.5), apache2-dev, python-setuptools

Package: nmos-reverse-proxy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, apache2, apache2-bin (>=2.4.18) | libapache2-mod-proxy-html, ssl-cert, libxml2-dev
Recommends: python-nmoscommon
Description: common reverse proxy config for NMOS web services
 Used to present a variety of microservices on a common port.
